body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.cursor-pointer{
  cursor: pointer;
}
.ant-tabs-tab:hover {
  color: #e9815b !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #f26b38 !important;
  text-shadow: 0 0 .25px currentColor;
}
.ant-tabs-ink-bar {
  background-color: #f26b38 !important;
}